/.fabric/
/build/
/coremods/
/crash-reports/
/data/
/defaultconfigs/
/logs/
/saves/
/mods/
/resourcepacks/
/screenshots/
/server-resource-packs/
/shaderpacks/
/texturepacks/
/options.txt
/icon.png
/usercache.json
/usernamecache.json
/xaero

## config section #####

/config/fabric/
/config/nostalgic_tweaks/backup/
config/world_preview
/config/blockswap/known_states/

/config/fml.toml
/config/forge-client.toml
/config/embeddium-fingerprint.json
/config/embeddium-mixins.properties
/config/embeddium-options.json
/config/indium-renderer.properties
rhino.local.properties
/config/creative_fly.json5
