build/
coremods/
defaultconfigs/
logs/
saves/
mods/
resourcepacks/
screenshots/
server-resource-packs/
shaderpacks/
texturepacks/
/options.txt
/icon.png

# config section

config/fml.toml
config/forge-client.toml
config/embeddium-fingerprint.json
config/embeddium-mixins.properties
config/embeddium-options.json
